.gradient-bg {
  background: linear-gradient(#ffc7b6, #ca2f00);
}

.navbar-logo {
  width: 200px;
  height: auto;
  display: flex;
}

.masthead-brand{
  padding: 5px 0;
  background-color: transparent;
}

.masthead-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.masthead-nav a {
  color: #333;
  text-decoration: none;
}

.masthead-nav a:hover {
  color: #ff3e04; /* Change color on hover */
}

/*
.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-brand, .navbar-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container-fluid {
  padding: 20px;
  background-color: #EE8301;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
*/

/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height: 400px; 

h2 {
  margin-bottom: 20px;
}


.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
*/

.upload-box {
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  padding: 20px;
  /* width: 200px;
  height: 200px; */
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.upload-icon {
  width: 50px;
  height: 50px;
}

.upload-label {
  cursor: pointer;
  color: #007bff;
  margin-top: 10px;
}

#file-upload {
  display: none;
}

/* Close Icon */
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: red;
  cursor: pointer;
  display: none; /* Hidden initially */
}
