html, body { 
  height: 100%; margin: 0; 
  background-color: #EE8301;
}

.full-page-container {
  height: 100vh;
}

.card {
  width: 18rem;
  height: 10px;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

.gradient-bg {
  background: linear-gradient(#FFE169, #EE8301);
}

.navbar-logo {
  width: 300px;
  height: auto;
  display: flex;
}

.masthead-brand{
  padding: 5px 0;
  background-color: transparent;
}

.chat-box {
  background-color: white;
  padding: 20px;
}

.masthead-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.masthead-nav a {
  color: #333;
  text-decoration: none;
}

.masthead-nav a:hover {
  color: #ff3e04; /* Change color on hover */
}

/*
.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
*/

/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height: 400px; 

h2 {
  margin-bottom: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
*/

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px dashed #ccc;
  background-color: rgba(198, 215, 217, 0.25);
  padding: 20px;
  margin-left: 150px;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s;
}

.upload-box:hover {
  background-color: rgba(198, 215, 217, 0.75);
}

.upload-icon {
  width: 95px;
  height: 95px;
  transition: width 1s;
  transition: height 1s;
}

.upload-icon:hover {
  width: 130px;
  height: 130px;
}

.upload-label {
  cursor: pointer;
  color: #0A3051;
  margin-top: 10px;
}

#file-upload {
  display: none;
}

/* Close Icon */
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: red;
  cursor: pointer;
  display: none; /* Hidden initially */
}
